html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #cccccc;
  background: #222222;
  font-family: monospace; }

.page {
  height: 100vh;
  width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.intro {
  color: #999999; }

.wheel-box {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  min-width: 500px;
  min-height: 500px;
  max-width: 800px;
  max-height: 800px;
  dominant-baseline: middle; }
  .wheel-box .wheel {
    transition: all 0.2s linear; }
    .wheel-box .wheel line {
      stroke-width: 1;
      stroke: #999999; }
    .wheel-box .wheel text {
      text-anchor: middle;
      fill: #cccccc; }
  .wheel-box .wheel-locations {
    transition: all 0.2s linear; }
    .wheel-box .wheel-locations text {
      fill: #cccccc; }
    .wheel-box .wheel-locations line {
      stroke-width: 1;
      stroke: #999999; }

.locations {
  position: relative;
  width: 1px;
  height: 1px;
  flex: 0 0 auto; }
  .locations .location {
    height: 13px;
    width: 1px;
    margin-top: -6px;
    display: block;
    white-space: nowrap;
    position: absolute; }

h1 {
  font-size: 1.5em;
  color: #cccccc; }

a, a:visited, a:hover {
  color: #cccccc;
  text-decoration: none;
  border-bottom: 1px dotted #cccccc; }

input,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: monospace; }

form .form-group {
  display: inline-block;
  margin: 0 5px; }
form input, form textarea, form select {
  background-color: #555555;
  border: none;
  color: white; }
form input {
  padding: 5px; }
form select {
  padding: 3px; }
form label {
  color: #aaaaaa;
  padding-top: 0px;
  padding-bottom: 0px; }
form button.button-submit {
  background-color: #222222;
  border: solid 1px #999999;
  color: #cccccc;
  padding: 3px 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }
